.main-page a:hover{
    text-decoration: none;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #be3144;
  box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
  align-items: flex-end;
  margin: auto;
}
.nav-list {
  display: flex;
  margin-right: 2rem;
  justify-content: flex-end;
  align-content: flex-end;
}
.nav-list a:hover{
    background: #45567d;
}
.nav-list {
    /* margin-top: 10px; */
    margin-bottom: 0;
}
#navbar-menu li {
  list-style-type: none;
  
}
.nav-list li a {
  display: block;
  padding: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
#welcome-section h1 {
  font-family: "Courier New", Courier, monospace;
  color: white;
}
#welcome-section p {
  font-family: "Courier New", Courier, monospace;
  color: rgb(153, 56, 56);
}
.project-section {
  background-color: #45567d;
  text-align: center;
}
.projects-section-header {
  color: white;
  max-width: 480px;
  margin: 0 auto 4rem auto;
  padding-top: 50px;
  line-height: 2;
  border-bottom: 0.1rem solid white;
}
.card-project {
  /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center; */
  /* min-height: 300px;
    width: calc(100%/3); */
  /* margin: 10px; */
  /* box-shadow: 1px 1px 2px rgb(0 0 0 / 50%); */
  /* border: 1px solid #000;
    border-radius: 2px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}
.project-title {
  background-color: #303841;
  min-height: 300px;
  height: 100%;
  max-width: 35vh;
  width: 100%;
  margin: auto;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}
.project-title img {
  width: 100%;
  height: calc(100% - 3rem);
  object-fit: cover;
}
.project-title p {
  font-family: 'Poppins', sans-serif;         
  color: white;
  font-size: 1rem;
  align-items: center;
  margin-top: 10px;
}
.code{
    /* column-count:0 ; */
    opacity: 0;
    /* color: var(--main-gray); */
    transition: color 0.5s ease-out;
}
.project-section   :hover {
    text-decoration: none;
}
.project-title:hover .code{
    color: #ff7f50;
    opacity:1;
    
}
/* .btn-show {
    /* display: ; */
    /* padding: 1rem 2rem;
    border-radius: 2px;
    align-items: center;
    width: 165px;
} */ 
.btn-show-all {
    font-size: 1.5rem;
    background: black;
    transition: 0.3s ease-out;
    color: white;
    margin-bottom: 60px;
 } 
.btn-show-all:hover {
    background: red;
}
.btn-show-all  i {
    color: seashell;
    margin-left: 10px;
    transform: translateX(0);
    transition-property: 10px;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}
.btn-show-all:hover i {
    transform: translateX(2px);
} 
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: black;
}
.contact-section-header > p {
    font-style: italic;
    color: antiquewhite;
}
.contact-section-header > h2 {
    color: antiquewhite;
    font-size: 4rem;
}
.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    flex-wrap: wrap;
}
.contact-links a{
    color: blanchedalmond;
}
.btns {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}
.btns:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.contact-details {
    font-size: 1.5rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}
.contact-details:hover {
    transform: translateY(8px);
    color: antiquewhite;
}
.fab {
    font-family: "Font Awesome 5 Brands";
}
#footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: #303841;
    border-top: 4px solid red;
}
footer > p {
    color: white;
    margin: 2rem;
}
@media (max-width: 350px) {
  body {
    min-width: 320px;
  }
  .card-project{
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  }
  .nav-list{
      justify-content: center;
  }
}
@media (max-width:1024px){
        .project-title{
            max-width: 80vh;
            width: 100%;
            margin: 0;
          }
}
@media (min-width:1024px){
    .project-title{
        max-width: 90vh;
        width: 100%;
        margin: 0;
      }
}
