html , body{
    min-height: 100%;
}
body{

height: 100%;}
div.page-wrapper{
    
    background-color: #eee;
}
.logo > img{
    width: 100%;
    height: 100%;
    max-width: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

#header{
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    justify-content: space-around;
    background-color: #eee;
}
li{
    list-style-type: none;
}
nav ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav ul li a {
    padding: 0 30px 0 30px;
    font-size: 16px;
    color: black;
    font-weight: 400;
}
#hero-text{
    margin-top: 75px;
    background-color: #eee;
    text-align: center;
}
#h2{
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
    word-wrap: break-word;
}
#hero-text input[type='email']{
    max-width: 275px;
    width: 100%;
    padding: 5px;
    font-size: 12px;
}
#hero-text input[type='submit']{
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
    color: black;
    font-weight: bold;
}
#hero-text input[type='submit']:hover {
    background-color: orange;
    transition: background-color 1s;
}

.icon > .fa-truck{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;
}
.features .detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 60vw;
    padding-left: 10px;
}
.features .detail h2{
    font-size: 20px;
    font-weight: bold;
}
.features .detail p{
    font-weight: 500;
}
.works {
    text-align: center;
}
#how-it-works > iframe {
    max-width: 560px;
    width: 100%;

}
#pricing{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* min-height: 300px; */
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}
.product > button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
}
.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}
.product > .level {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}
.product > ol {
    padding-left: 0;
    margin: 15px 0;
}
.product > ol > li {
    padding: 5px 0;
}
.product > h2 {
    margin-top: 15px;
}
footer {
    max-width: 120vh;
    width: 100%;
    margin: 30px auto 0 auto ;
    background-color: #ddd;
    padding: 20px;
}
footer > ul {
    display: flex;
    justify-content: flex-end;
}

footer > ul > li {
    padding: 0 10px;
}
footer > ul > li a {
    font-weight: 500;
    color: black;
}
footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}
@media (max-width: 320px) {
    body {
        min-width: 320px;
    }
    #hero-text{
        margin-top: 180px;
    }

}
@media (max-width: 768px) {
  #header{
      display: inline;
      min-height: 75px;
      padding: 0px 20px;
      justify-content:center;
      background-color: #eee;
  }
  #pricing{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;    
    align-items: center;
    align-content: center;
}
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
    width: 100%;
    margin: 10 auto;
    border: 1px solid #000;
    border-radius: 3px;
}
.features .detail{
    padding-left: 20px;
}
.page-wrapper footer {
    margin: 30px 0 0 0;
    background-color: #ddd;
    padding: 20px;
}
  }
  @media (max-width: 620px){
      .detail{
          text-align: center;
          width: 100%;
          padding: 0;
          height: 150px;
      }
     .features .icon{
          display: none;
      }
      .features .detail {
          padding-left: 0;
          margin: 20px 0  20px 0;
      }
      #header nav{
          flex-direction: column;
      }
      .logo img {
          margin-left: 0;
      }
      nav ul{
          padding: 0;
          display: flex;
          flex-direction: column;
          text-align: center;
      }
      #hero-text{
          margin-top: 180px;
      }

  }

